/* Figma Styles of your File */
:root {
  /* Colors */
  --: linear-gradient(
    257.59deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(254, 81, 20, 1) 100%
  );
  --: linear-gradient(
      127.9deg,
      rgba(0, 0, 0, 0.12) 0%,
      rgba(255, 255, 255, 0.02) 31.49999976158142%,
      rgba(0, 0, 0, 0.12) 100%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  --100: linear-gradient(
      127.9deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(255, 255, 255, 0.1) 31.49999976158142%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  --: linear-gradient(
    257.59deg,
    rgba(151, 71, 255, 1) 0%,
    rgba(254, 81, 20, 1) 100%
  );
  --10: linear-gradient(
      257.59deg,
      rgba(151, 71, 255, 0.2) 0%,
      rgba(254, 81, 20, 0.2) 100%
    ),
    linear-gradient(to left, #ffffff, #ffffff);
  --system-black-900: #111111;
  --system-black-800: #333333;
  --system-black-700: #505050;
  --system-black-600: #666666;
  --system-black-500: #767676;
  --system-black-400: #888888;
  --system-black-300: #999999;
  --system-black-200: #bbbbbb;
  --system-black-100: #e1e1e1;
  --system-black-50: #f1f1f5;
  --system-black-font-01white: #ffffff;
  --system-black-font-02black: #111111;
  --system-black-font-03gray: #505050;
  --system-black-font-04gray: #767676;
  --system-black-font-05graydisabled: #999999;
  --system-black-line-lightcolor: #f1f1f5;
  --system-black-line-regularcolor: #e5e5ec;
  --system-black-line-blackcolor: #111111;
  --system-black-line-whitecolor: #ffffff;
  --system-black-line-disabled: #cacad7;
  --system-black-bg-lightcolor: #f7f7fb;
  --system-black-bg-regularcolor: #f1f1f5;
  --system-black-bg-blackcolor: #111111;
  --system-black-bg-whitecolor: #ffffff;
  --system-black-bg-blackopacity85: #000000;
  --system-black-bg-blackopacity60: rgba(0, 0, 0, 0.6);
  --system-black-bg-blackopacity30: rgba(0, 0, 0, 0.3);
  --system-black-bg-blackopacity20: rgba(0, 0, 0, 0.2);
  --system-black-bg-blackopacity3: rgba(0, 0, 0, 0.03);
  --system-black-bg-whiteopacity60: rgba(255, 255, 255, 0.6);
  --system-black-bg-whiteopacity20: rgba(255, 255, 255, 0.2);
  --system-black-bg-gradient50: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --system-black-bg-red: #ca3a31;
  --system-black-bg-green: #04b014;
  --system-black-bg-yellow: #ffaa00;
  --system-black-button-brand: #6100ff;
  --system-black-button-black: #1c1c21;
  --system-black-button-white: #ffffff;
  --system-black-button-lightcolor: #f7f7fb;
  --system-black-button-regulargray: #e5e5ec;
  --system-black-button-disable: #f1f1f5;
  --system-black-brand-maincolor: #fe5114;
  --system-black-brand-subcolor1: #9747ff;
  --system-black-brand-subcolor2: #19bcff;
  --system-black-red-900: #b71c1c;
  --system-black-red-800: #b63731;
  --system-black-red-700: #c23e38;
  --system-black-red-600: #d3483e;
  --system-black-red-500: #e15241;
  --system-black-red-400: #de5e56;
  --system-black-red-300: #d77976;
  --system-black-red-200: #e39e9c;
  --system-black-red-100: #f7cfd3;
  --system-black-red-50: #fcecee;
  --system-black-purple-900: #441d87;
  --system-black-purple-800: #612694;
  --system-black-purple-700: #712c9c;
  --system-black-purple-600: #8331a4;
  --system-black-purple-500: #8f36aa;
  --system-black-purple-400: #9f50b6;
  --system-black-purple-300: #af6ec3;
  --system-black-purple-200: #c597d4;
  --system-black-purple-100: #dbc0e4;
  --system-black-purple-50: #f1e6f4;
  --system-black-violet-900: #7d1e4e;
  --system-black-violet-800: #9f2857;
  --system-black-violet-700: #b22e5b;
  --system-black-violet-600: #c63461;
  --system-black-violet-500: #d63964;
  --system-black-violet-400: #da4f7a;
  --system-black-violet-300: #df6c92;
  --system-black-violet-200: #e694b0;
  --system-black-violet-100: #efbecf;
  --system-black-violet-50: #fce4ec;
  --system-black-purpleheze-900: #2d218c;
  --system-black-purpleheze-800: #402d9a;
  --system-black-purpleheze-700: #4c33a2;
  --system-black-purpleheze-600: #583bab;
  --system-black-purpleheze-500: #6040b0;
  --system-black-purpleheze-400: #785bbc;
  --system-black-purpleheze-300: #9078c7;
  --system-black-purpleheze-200: #af9fd7;
  --system-black-purpleheze-100: #cfc5e6;
  --system-black-purpleheze-50: #ece7f5;
  --system-black-navyblue-900: #1b2679;
  --system-black-navyblue-800: #2a378e;
  --system-black-navyblue-700: #303f9f;
  --system-black-navyblue-600: #3949ab;
  --system-black-navyblue-500: #3f51b5;
  --system-black-navyblue-400: #5c6bc0;
  --system-black-navyblue-300: #7986cb;
  --system-black-navyblue-200: #9fa8da;
  --system-black-navyblue-100: #c5cae9;
  --system-black-navyblue-50: #e8eaf6;
  --system-black-blue-900: #1f489b;
  --system-black-blue-800: #2f66ba;
  --system-black-blue-700: #3776cb;
  --system-black-blue-600: #4188de;
  --system-black-blue-500: #4896ec;
  --system-black-blue-400: #5da4ef;
  --system-black-blue-300: #77b4f0;
  --system-black-blue-200: #9cc9f5;
  --system-black-blue-100: #c2ddf8;
  --system-black-blue-50: #e6f2fc;
  --system-black-skyblue-900: #225796;
  --system-black-skyblue-800: #3277b8;
  --system-black-skyblue-700: #3a87cb;
  --system-black-skyblue-600: #449adf;
  --system-black-skyblue-500: #4aa8ee;
  --system-black-skyblue-400: #59b5f0;
  --system-black-skyblue-300: #6fc1f2;
  --system-black-skyblue-200: #94d3f6;
  --system-black-skyblue-100: #bde4f9;
  --system-black-skyblue-50: #e5f5fd;
  --system-black-emerald-900: #275f63;
  --system-black-emerald-800: #38818d;
  --system-black-emerald-700: #4295a5;
  --system-black-emerald-600: #4caabe;
  --system-black-emerald-500: #54bad1;
  --system-black-emerald-400: #5fc4d7;
  --system-black-emerald-300: #73cede;
  --system-black-emerald-200: #96dce8;
  --system-black-emerald-100: #beeaf1;
  --system-black-emerald-50: #e4f6f9;
  --system-black-navygreen-900: #1e4c40;
  --system-black-navygreen-800: #2c675c;
  --system-black-navygreen-700: #33776b;
  --system-black-navygreen-600: #3b877b;
  --system-black-navygreen-500: #429488;
  --system-black-navygreen-400: #51a49a;
  --system-black-navygreen-300: #6ab4ac;
  --system-black-navygreen-200: #91c9c4;
  --system-black-navygreen-100: #bbdedb;
  --system-black-navygreen-50: #e3f1f1;
  --system-black-green-900: #0c5b00;
  --system-black-green-800: #107700;
  --system-black-green-700: #258716;
  --system-black-green-600: #39982a;
  --system-black-green-500: #4aa63c;
  --system-black-green-400: #7bb872;
  --system-black-green-300: #91c48a;
  --system-black-green-200: #afd4ab;
  --system-black-green-100: #cee5cb;
  --system-black-green-50: #eaf4ea;
  --system-black-khaki-900: #416729;
  --system-black-khaki-800: #62893d;
  --system-black-khaki-700: #749d47;
  --system-black-khaki-600: #88b153;
  --system-black-khaki-500: #97c05c;
  --system-black-khaki-400: #a6ca72;
  --system-black-khaki-300: #b6d38a;
  --system-black-khaki-200: #cadfab;
  --system-black-khaki-100: #dfeccb;
  --system-black-khaki-50: #f2f8ea;
  --system-black-brown-900: #725c3c;
  --system-black-brown-800: #856e4c;
  --system-black-brown-700: #99815e;
  --system-black-brown-600: #ae9671;
  --system-black-brown-500: #c3a981;
  --system-black-brown-400: #d4ba92;
  --system-black-brown-300: #dec9aa;
  --system-black-brown-200: #eddabb;
  --system-black-brown-100: #f4e8d4;
  --system-black-brown-50: #fbf3e4;
  --system-black-orange-900: #e68437;
  --system-black-orange-800: #edaa46;
  --system-black-orange-700: #f2c14f;
  --system-black-orange-600: #f7d859;
  --system-black-orange-500: #fcea60;
  --system-black-orange-400: #fced72;
  --system-black-orange-300: #fdf088;
  --system-black-orange-200: #fdf4a8;
  --system-black-orange-100: #fef9ca;
  --system-black-orange-50: #fffde9;
  --system-black-tangerine-900: #ee772f;
  --system-black-tangerine-800: #f09436;
  --system-black-tangerine-700: #f2a33a;
  --system-black-tangerine-600: #f4b53f;
  --system-black-tangerine-500: #f6c244;
  --system-black-tangerine-400: #f7cb50;
  --system-black-tangerine-300: #f8d567;
  --system-black-tangerine-200: #fae08f;
  --system-black-tangerine-100: #fcecba;
  --system-black-tangerine-50: #fef8e3;
  --system-black-amber-900: #d55b26;
  --system-black-amber-800: #df732c;
  --system-black-amber-700: #e68231;
  --system-black-amber-600: #ec9135;
  --system-black-amber-500: #f19c38;
  --system-black-amber-400: #f3aa47;
  --system-black-amber-300: #f4b961;
  --system-black-amber-200: #f7cd8b;
  --system-black-amber-100: #fae1b8;
  --system-black-amber-50: #fdf3e2;
  --system-black-darkamber-900: #b04121;
  --system-black-darkamber-800: #c84e2a;
  --system-black-darkamber-700: #d5552e;
  --system-black-darkamber-600: #e25c33;
  --system-black-darkamber-500: #ec6337;
  --system-black-darkamber-400: #ee7850;
  --system-black-darkamber-300: #f08f6d;
  --system-black-darkamber-200: #f3ae96;
  --system-black-darkamber-100: #f7cebf;
  --system-black-darkamber-50: #f8eae8;
  --system-black-maroom-900: #3b2824;
  --system-black-maroom-800: #4a352f;
  --system-black-maroom-700: #594139;
  --system-black-maroom-600: #684d43;
  --system-black-maroom-500: #74564a;
  --system-black-maroom-400: #886f65;
  --system-black-maroom-300: #9d8980;
  --system-black-maroom-200: #b9aba5;
  --system-black-maroom-100: #d5ccc9;
  --system-black-maroom-50: #eeebe9;
  --system-blueblack-900: #283237;
  --system-blueblack-800: #3a474e;
  --system-blueblack-700: #495a63;
  --system-blueblack-600: #596d79;
  --system-blueblack-500: #667c89;
  --system-blueblack-400: #7d8f9b;
  --system-blueblack-300: #94a4ad;
  --system-blueblack-200: #b3bec4;
  --system-blueblack-100: #d1d8dc;
  --system-blueblack-50: #edeff1;

  /* Fonts */
  --title-t1krsb-font-family: Pretendard-SemiBold, sans-serif;
  --title-t1krsb-font-size: 32px;
  --title-t1krsb-line-height: 42px;
  --title-t1krsb-font-weight: 600;
  --title-t1krsb-font-style: normal;
  --title-t1krrg-font-family: Pretendard-Regular, sans-serif;
  --title-t1krrg-font-size: 32px;
  --title-t1krrg-line-height: 42px;
  --title-t1krrg-font-weight: 400;
  --title-t1krrg-font-style: normal;
  --title-t1krlt-font-family: Pretendard-Light, sans-serif;
  --title-t1krlt-font-size: 32px;
  --title-t1krlt-line-height: 42px;
  --title-t1krlt-font-weight: 300;
  --title-t1krlt-font-style: normal;
  --title-t2krsb-font-family: Pretendard-SemiBold, sans-serif;
  --title-t2krsb-font-size: 28px;
  --title-t2krsb-line-height: 38px;
  --title-t2krsb-font-weight: 600;
  --title-t2krsb-font-style: normal;
  --title-t2krrg-font-family: Pretendard-Regular, sans-serif;
  --title-t2krrg-font-size: 28px;
  --title-t2krrg-line-height: 38px;
  --title-t2krrg-font-weight: 400;
  --title-t2krrg-font-style: normal;
  --title-t2krlt-font-family: Pretendard-Light, sans-serif;
  --title-t2krlt-font-size: 28px;
  --title-t2krlt-line-height: 38px;
  --title-t2krlt-font-weight: 300;
  --title-t2krlt-font-style: normal;
  --title-t3krsb-font-family: Pretendard-SemiBold, sans-serif;
  --title-t3krsb-font-size: 24px;
  --title-t3krsb-line-height: 34px;
  --title-t3krsb-font-weight: 600;
  --title-t3krsb-font-style: normal;
  --title-t3krrg-font-family: Pretendard-Regular, sans-serif;
  --title-t3krrg-font-size: 24px;
  --title-t3krrg-line-height: 34px;
  --title-t3krrg-font-weight: 400;
  --title-t3krrg-font-style: normal;
  --title-t3krlt-font-family: Pretendard-Light, sans-serif;
  --title-t3krlt-font-size: 24px;
  --title-t3krlt-line-height: 34px;
  --title-t3krlt-font-weight: 300;
  --title-t3krlt-font-style: normal;
  --title-t4krsb-font-family: Pretendard-SemiBold, sans-serif;
  --title-t4krsb-font-size: 20px;
  --title-t4krsb-line-height: 28px;
  --title-t4krsb-font-weight: 600;
  --title-t4krsb-font-style: normal;
  --title-t4krrg-font-family: Pretendard-Regular, sans-serif;
  --title-t4krrg-font-size: 20px;
  --title-t4krrg-line-height: 28px;
  --title-t4krrg-font-weight: 400;
  --title-t4krrg-font-style: normal;
  --title-t4krlt-font-family: Pretendard-Light, sans-serif;
  --title-t4krlt-font-size: 20px;
  --title-t4krlt-line-height: 28px;
  --title-t4krlt-font-weight: 300;
  --title-t4krlt-font-style: normal;
  --headline-h1krsb-font-family: Pretendard-SemiBold, sans-serif;
  --headline-h1krsb-font-size: 18px;
  --headline-h1krsb-line-height: 26px;
  --headline-h1krsb-font-weight: 600;
  --headline-h1krsb-font-style: normal;
  --headline-h1krrg-font-family: Pretendard-Regular, sans-serif;
  --headline-h1krrg-font-size: 18px;
  --headline-h1krrg-line-height: 26px;
  --headline-h1krrg-font-weight: 400;
  --headline-h1krrg-font-style: normal;
  --headline-h1krlt-font-family: Pretendard-Light, sans-serif;
  --headline-h1krlt-font-size: 18px;
  --headline-h1krlt-line-height: 26px;
  --headline-h1krlt-font-weight: 300;
  --headline-h1krlt-font-style: normal;
  --headline-h2krsb-font-family: Pretendard-SemiBold, sans-serif;
  --headline-h2krsb-font-size: 16px;
  --headline-h2krsb-line-height: 24px;
  --headline-h2krsb-font-weight: 600;
  --headline-h2krsb-font-style: normal;
  --headline-h2krrg-font-family: Pretendard-Regular, sans-serif;
  --headline-h2krrg-font-size: 16px;
  --headline-h2krrg-line-height: 24px;
  --headline-h2krrg-font-weight: 400;
  --headline-h2krrg-font-style: normal;
  --headline-h2krlt-font-family: Pretendard-Light, sans-serif;
  --headline-h2krlt-font-size: 16px;
  --headline-h2krlt-line-height: 24px;
  --headline-h2krlt-font-weight: 300;
  --headline-h2krlt-font-style: normal;
  --headline-h3krsb-font-family: Pretendard-SemiBold, sans-serif;
  --headline-h3krsb-font-size: 15px;
  --headline-h3krsb-line-height: 22px;
  --headline-h3krsb-font-weight: 600;
  --headline-h3krsb-font-style: normal;
  --headline-h3krrg-font-family: Pretendard-Regular, sans-serif;
  --headline-h3krrg-font-size: 15px;
  --headline-h3krrg-line-height: 22px;
  --headline-h3krrg-font-weight: 400;
  --headline-h3krrg-font-style: normal;
  --headline-h3krlt-font-family: Pretendard-Light, sans-serif;
  --headline-h3krlt-font-size: 15px;
  --headline-h3krlt-line-height: 22px;
  --headline-h3krlt-font-weight: 300;
  --headline-h3krlt-font-style: normal;
  --body-b1krsb-font-family: Pretendard-SemiBold, sans-serif;
  --body-b1krsb-font-size: 14px;
  --body-b1krsb-line-height: 20px;
  --body-b1krsb-font-weight: 600;
  --body-b1krsb-font-style: normal;
  --body-b1krrg-font-family: Pretendard-Regular, sans-serif;
  --body-b1krrg-font-size: 14px;
  --body-b1krrg-line-height: 20px;
  --body-b1krrg-font-weight: 400;
  --body-b1krrg-font-style: normal;
  --body-b1krlt-font-family: Pretendard-Light, sans-serif;
  --body-b1krlt-font-size: 14px;
  --body-b1krlt-line-height: 20px;
  --body-b1krlt-font-weight: 300;
  --body-b1krlt-font-style: normal;
  --body-b2krsb-font-family: Pretendard-SemiBold, sans-serif;
  --body-b2krsb-font-size: 13px;
  --body-b2krsb-line-height: 18px;
  --body-b2krsb-font-weight: 600;
  --body-b2krsb-font-style: normal;
  --body-b2krrg-font-family: Pretendard-Regular, sans-serif;
  --body-b2krrg-font-size: 13px;
  --body-b2krrg-line-height: 18px;
  --body-b2krrg-font-weight: 400;
  --body-b2krrg-font-style: normal;
  --body-b2krlt-font-family: Pretendard-Light, sans-serif;
  --body-b2krlt-font-size: 13px;
  --body-b2krlt-line-height: 18px;
  --body-b2krlt-font-weight: 300;
  --body-b2krlt-font-style: normal;
  --body-b3krsb-font-family: Pretendard-SemiBold, sans-serif;
  --body-b3krsb-font-size: 12px;
  --body-b3krsb-line-height: 18px;
  --body-b3krsb-font-weight: 600;
  --body-b3krsb-font-style: normal;
  --body-b3krrg-font-family: Pretendard-Regular, sans-serif;
  --body-b3krrg-font-size: 12px;
  --body-b3krrg-line-height: 18px;
  --body-b3krrg-font-weight: 400;
  --body-b3krrg-font-style: normal;
  --body-b3krlt-font-family: Pretendard-Light, sans-serif;
  --body-b3krlt-font-size: 12px;
  --body-b3krlt-line-height: 18px;
  --body-b3krlt-font-weight: 300;
  --body-b3krlt-font-style: normal;
  --button-but1sb-font-family: Pretendard-SemiBold, sans-serif;
  --button-but1sb-font-size: 16px;
  --button-but1sb-line-height: 24px;
  --button-but1sb-font-weight: 600;
  --button-but1sb-font-style: normal;
  --button-but1rg-font-family: Pretendard-Regular, sans-serif;
  --button-but1rg-font-size: 16px;
  --button-but1rg-line-height: 24px;
  --button-but1rg-font-weight: 400;
  --button-but1rg-font-style: normal;
  --button-but2sb-font-family: Pretendard-SemiBold, sans-serif;
  --button-but2sb-font-size: 14px;
  --button-but2sb-line-height: 20px;
  --button-but2sb-font-weight: 600;
  --button-but2sb-font-style: normal;
  --button-but2rg-font-family: Pretendard-Regular, sans-serif;
  --button-but2rg-font-size: 14px;
  --button-but2rg-line-height: 20px;
  --button-but2rg-font-weight: 400;
  --button-but2rg-font-style: normal;
  --button-but3sb-font-family: Pretendard-SemiBold, sans-serif;
  --button-but3sb-font-size: 13px;
  --button-but3sb-line-height: 18px;
  --button-but3sb-font-weight: 600;
  --button-but3sb-font-style: normal;
  --button-but3rg-font-family: Pretendard-Regular, sans-serif;
  --button-but3rg-font-size: 13px;
  --button-but3rg-line-height: 18px;
  --button-but3rg-font-weight: 400;
  --button-but3rg-font-style: normal;
  --button-but4sb-font-family: Pretendard-SemiBold, sans-serif;
  --button-but4sb-font-size: 12px;
  --button-but4sb-line-height: 18px;
  --button-but4sb-font-weight: 600;
  --button-but4sb-font-style: normal;
  --button-but4rg-font-family: Pretendard-Regular, sans-serif;
  --button-but4rg-font-size: 12px;
  --button-but4rg-line-height: 18px;
  --button-but4rg-font-weight: 400;
  --button-but4rg-font-style: normal;
  --caption-c1krsb-font-family: Pretendard-SemiBold, sans-serif;
  --caption-c1krsb-font-size: 13px;
  --caption-c1krsb-line-height: 18px;
  --caption-c1krsb-font-weight: 600;
  --caption-c1krsb-font-style: normal;
  --caption-c1krrg-font-family: Pretendard-Regular, sans-serif;
  --caption-c1krrg-font-size: 13px;
  --caption-c1krrg-line-height: 18px;
  --caption-c1krrg-font-weight: 400;
  --caption-c1krrg-font-style: normal;
  --caption-c1krlt-font-family: Pretendard-Light, sans-serif;
  --caption-c1krlt-font-size: 13px;
  --caption-c1krlt-line-height: 18px;
  --caption-c1krlt-font-weight: 300;
  --caption-c1krlt-font-style: normal;
  --caption-c2krsb-font-family: Pretendard-SemiBold, sans-serif;
  --caption-c2krsb-font-size: 12px;
  --caption-c2krsb-line-height: 18px;
  --caption-c2krsb-font-weight: 600;
  --caption-c2krsb-font-style: normal;
  --caption-c2krrg-font-family: Pretendard-Regular, sans-serif;
  --caption-c2krrg-font-size: 12px;
  --caption-c2krrg-line-height: 18px;
  --caption-c2krrg-font-weight: 400;
  --caption-c2krrg-font-style: normal;
  --caption-c2krlt-font-family: Pretendard-Light, sans-serif;
  --caption-c2krlt-font-size: 12px;
  --caption-c2krlt-line-height: 18px;
  --caption-c2krlt-font-weight: 300;
  --caption-c2krlt-font-style: normal;
  --caption-c3krsb-font-family: Pretendard-SemiBold, sans-serif;
  --caption-c3krsb-font-size: 11px;
  --caption-c3krsb-line-height: 16px;
  --caption-c3krsb-font-weight: 600;
  --caption-c3krsb-font-style: normal;
  --caption-c3krrg-font-family: Pretendard-Regular, sans-serif;
  --caption-c3krrg-font-size: 11px;
  --caption-c3krrg-line-height: 16px;
  --caption-c3krrg-font-weight: 400;
  --caption-c3krrg-font-style: normal;
  --caption-c3krlt-font-family: Pretendard-Light, sans-serif;
  --caption-c3krlt-font-size: 11px;
  --caption-c3krlt-line-height: 16px;
  --caption-c3krlt-font-weight: 300;
  --caption-c3krlt-font-style: normal;
  --caption-c4krsb-font-family: Pretendard-SemiBold, sans-serif;
  --caption-c4krsb-font-size: 10px;
  --caption-c4krsb-line-height: 14px;
  --caption-c4krsb-font-weight: 600;
  --caption-c4krsb-font-style: normal;
  --caption-c4krrg-font-family: Pretendard-Regular, sans-serif;
  --caption-c4krrg-font-size: 10px;
  --caption-c4krrg-line-height: 14px;
  --caption-c4krrg-font-weight: 400;
  --caption-c4krrg-font-style: normal;
  --caption-c4krlt-font-family: Pretendard-Light, sans-serif;
  --caption-c4krlt-font-size: 10px;
  --caption-c4krlt-line-height: 14px;
  --caption-c4krlt-font-weight: 300;
  --caption-c4krlt-font-style: normal;
  --caption-c5krsb-font-family: Pretendard-SemiBold, sans-serif;
  --caption-c5krsb-font-size: 9px;
  --caption-c5krsb-line-height: 12px;
  --caption-c5krsb-font-weight: 600;
  --caption-c5krsb-font-style: normal;
  --caption-c5krrg-font-family: Pretendard-Regular, sans-serif;
  --caption-c5krrg-font-size: 9px;
  --caption-c5krrg-line-height: 12px;
  --caption-c5krrg-font-weight: 400;
  --caption-c5krrg-font-style: normal;
  --caption-c5krlt-font-family: Pretendard-Light, sans-serif;
  --caption-c5krlt-font-size: 9px;
  --caption-c5krlt-line-height: 12px;
  --caption-c5krlt-font-weight: 300;
  --caption-c5krlt-font-style: normal;
  --mo-display-d1krsb-font-family: Pretendard-SemiBold, sans-serif;
  --mo-display-d1krsb-font-size: 56px;
  --mo-display-d1krsb-line-height: 72px;
  --mo-display-d1krsb-font-weight: 600;
  --mo-display-d1krsb-font-style: normal;
  --mo-display-d1krrg-font-family: Pretendard-Regular, sans-serif;
  --mo-display-d1krrg-font-size: 56px;
  --mo-display-d1krrg-line-height: 72px;
  --mo-display-d1krrg-font-weight: 400;
  --mo-display-d1krrg-font-style: normal;
  --mo-display-d1krlt-font-family: Pretendard-Light, sans-serif;
  --mo-display-d1krlt-font-size: 56px;
  --mo-display-d1krlt-line-height: 72px;
  --mo-display-d1krlt-font-weight: 300;
  --mo-display-d1krlt-font-style: normal;
  --mo-display-d2krsb-font-family: Pretendard-SemiBold, sans-serif;
  --mo-display-d2krsb-font-size: 48px;
  --mo-display-d2krsb-line-height: 62px;
  --mo-display-d2krsb-font-weight: 600;
  --mo-display-d2krsb-font-style: normal;
  --mo-display-d2krrg-font-family: Pretendard-Regular, sans-serif;
  --mo-display-d2krrg-font-size: 48px;
  --mo-display-d2krrg-line-height: 62px;
  --mo-display-d2krrg-font-weight: 400;
  --mo-display-d2krrg-font-style: normal;
  --mo-display-d2krlt-font-family: Pretendard-Light, sans-serif;
  --mo-display-d2krlt-font-size: 48px;
  --mo-display-d2krlt-line-height: 62px;
  --mo-display-d2krlt-font-weight: 300;
  --mo-display-d2krlt-font-style: normal;
  --mo-display-d3large-font-family: Pretendard-SemiBold, sans-serif;
  --mo-display-d3large-font-size: 40px;
  --mo-display-d3large-line-height: 52px;
  --mo-display-d3large-font-weight: 600;
  --mo-display-d3large-font-style: normal;
  --mo-display-d3krrg-font-family: Pretendard-Regular, sans-serif;
  --mo-display-d3krrg-font-size: 40px;
  --mo-display-d3krrg-line-height: 52px;
  --mo-display-d3krrg-font-weight: 400;
  --mo-display-d3krrg-font-style: normal;
  --mo-display-d3krlt-font-family: Pretendard-Light, sans-serif;
  --mo-display-d3krlt-font-size: 40px;
  --mo-display-d3krlt-line-height: 52px;
  --mo-display-d3krlt-font-weight: 300;
  --mo-display-d3krlt-font-style: normal;
  --mo-display-d4krsb-font-family: Pretendard-SemiBold, sans-serif;
  --mo-display-d4krsb-font-size: 36px;
  --mo-display-d4krsb-line-height: 44px;
  --mo-display-d4krsb-font-weight: 600;
  --mo-display-d4krsb-font-style: normal;
  --mo-display-d4krrg-font-family: Pretendard-Regular, sans-serif;
  --mo-display-d4krrg-font-size: 36px;
  --mo-display-d4krrg-line-height: 44px;
  --mo-display-d4krrg-font-weight: 400;
  --mo-display-d4krrg-font-style: normal;
  --mo-display-d4krlt-font-family: Pretendard-Light, sans-serif;
  --mo-display-d4krlt-font-size: 36px;
  --mo-display-d4krlt-line-height: 44px;
  --mo-display-d4krlt-font-weight: 300;
  --mo-display-d4krlt-font-style: normal;
  --mo-display-d5krsb-font-family: Pretendard-SemiBold, sans-serif;
  --mo-display-d5krsb-font-size: 32px;
  --mo-display-d5krsb-line-height: 42px;
  --mo-display-d5krsb-font-weight: 600;
  --mo-display-d5krsb-font-style: normal;
  --mo-display-d5krrg-font-family: Pretendard-Regular, sans-serif;
  --mo-display-d5krrg-font-size: 32px;
  --mo-display-d5krrg-line-height: 42px;
  --mo-display-d5krrg-font-weight: 400;
  --mo-display-d5krrg-font-style: normal;
  --mo-display-d5krlt-font-family: Pretendard-Light, sans-serif;
  --mo-display-d5krlt-font-size: 32px;
  --mo-display-d5krlt-line-height: 42px;
  --mo-display-d5krlt-font-weight: 300;
  --mo-display-d5krlt-font-style: normal;
  --mo-display-d6krsb-font-family: Pretendard-SemiBold, sans-serif;
  --mo-display-d6krsb-font-size: 28px;
  --mo-display-d6krsb-line-height: 38px;
  --mo-display-d6krsb-font-weight: 600;
  --mo-display-d6krsb-font-style: normal;
  --mo-display-d6krrg-font-family: Pretendard-Regular, sans-serif;
  --mo-display-d6krrg-font-size: 28px;
  --mo-display-d6krrg-line-height: 38px;
  --mo-display-d6krrg-font-weight: 400;
  --mo-display-d6krrg-font-style: normal;
  --mo-display-d6krlt-font-family: Pretendard-Light, sans-serif;
  --mo-display-d6krlt-font-size: 28px;
  --mo-display-d6krlt-line-height: 38px;
  --mo-display-d6krlt-font-weight: 300;
  --mo-display-d6krlt-font-style: normal;

  /* Effects */
  ---box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  ---box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  ---box-shadow: inset -1px -1px 2px 0px rgba(0, 0, 0, 0.1);
  ---box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  ---box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.4);
  ---box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}
